language: java
addons:
  sonarcloud:
    organization: "Questionator-taf"
before_install:
- chmod +x mvnw
install:
- ./mvnw clean install
script:
- sonar-scanner
- ./mvnw -P generate generate-test-sources
- ./mvnw -P run integration-test -Dselenide.remote=http://35.234.68.105:4444/wd/hub
after_script:
- ./mvnw -P generate-report post-integration-test
