language: java
addons:
  sonarcloud:
    organization: extreme-startup-taf
    token:
      secure: "NgZbeUq6N8TzQiZiIZXEH7yze2YZ7vIOIJeuTwKkX/lJ/ZH2Z2iKumzzSxsX817ovY3MGSgapOIkAD1bPjnK8NfTDwJSvUw3wh2Qxmmi3VqXSTg6ye6ldmKplESS5KH+aMSvo0cNaRIPGHvw2tyvnMmv9V0n+iBmVaBJu2tUTx9+60NycA7QrDMu+QN59agmKK3k8u0dkFpKiVjPwvShOf8nuWkDUXmYTjooscATb9kpSIk/EIaLRYddK1
      nm7owgt5o+PbZUWNv6QPiGJWfZ8gGaZH8t60mYWLt4bJvOHQzofkQEQ5G24leseNC1qrPE9zCEcIcZY7heE+rJ1Gu7kzOzMcVJcKOg/eavGmyLq6B0Oq+6TiPpaxXGaRrbQKxLazVWwOprTQnGuDKjaFuu8goTBltW6W5X8TpmPnPQ6gFBjQt3zlsBtdnXTHuI4zmKGchDC5VOrPhOL6JAjtKBvV32qe51Z29yQe56+2Hhbuitx15EEKSl3hsh2GPQJWp
      HkNGFx23J6bTwtWn+VQCHNqgs04KT9W4jA4waDexCEPqoy/tHyC16ZVUnf7u2MwM/UkDgIxBGOewJIs1nO9DsXH1vIqKS24t8pSRPY3oswCtzqbdBLQCqkSoD1RPtb2IYfK+ZiW2hKHzp3Rxwf3MhH8BNLvIEnBflH84P/SPkLWw="
before_install:
- chmod +x mvnw
install:
- "./mvnw clean install"
script:
- "./mvnw clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar"
- "./mvnw -P generate generate-test-sources"
- "./mvnw -P run integration-test -Dselenide.remote=http://35.234.68.105:4444/wd/hub"
after_script:
- "./mvnw -P generate-report post-integration-test"
deploy:
  provider: pages
  skip-cleanup: true
  keep-history: true
  github-token:
    secure: "jL9KEhCqoTvXOjHP3YqqDQDPapXiLF72zk6MgwAlbOD1FO5FS63hrV/yCcnLInoBjsmpesm2nKTvbsCG1Hoj343IOXPQPeHqU+dyER53dFlJb3zI44lIWSZA0Ry2sccPfuEJTdxE1kPmjNtix5fEOapl/Tm3f3PE8k+Pj+pShi/HXDL6H6b8dxlOivf9Kig4gr/3i9oobuHhgr+947peHbPXJ2voUERfwG5Af6dyZ+lPC5Edrm6Gmp6GAQ
aD2nrUcliZG5ce1fu8vqbbeI76Jh9dNqDSKLzPszHqENIi75pEkECIDoVASDWfLtPSW8xk9nU3lt24b5xY9g5+2A2d/I0EeuFCdSj5/o20XLdzF3Hr2pMeEmfmZMf5l00s2Tz3ih4ZnhzNVb8C8GPHXXSQj4oW4TvUX6DsqSiLHmRZOXtrtJotAW9oaabC0Vi3abcssL2n44ffe+6X0Xa261M3ZNL/k0p1lXiBMxPESoI6cxxlY6cgq1acbiToav5m/IG
sinEVmN20qC3QZXC03i2j1On8e5e3m4EtY8C838RPW6XOFhYf44oTN+gYKj0NaYneBM30A92n0YYQ6KVkt6dwsQD0Yb5PvOanvi/UWQZZZswhbjKhblvw/StqZINnTl+ii3EQYEOUYTmc8C+IlCMti/NuFEYM7Ecpo8UjcTe2fHY="
  local-dir: target/cluecumber-report
  on:
    branch: master